.words {
	width:90%;
	clear:both;
		font-size:1.15em;
}

.words p {
	line-height:1.58em;
	margin: 0px 0px 15px 0px;
}

			#title {
				padding-top:140px;
				padding-bottom:-50%px;
				margin-bottom:0;
			}

			#title h2{
				font-size: .9em;
				padding-bottom: 1em;
			}


		h2.projects {
			margin-bottom: 20px;
		}



div.learn-more {
	width:100%;
}
.content {
	width:100%;
}

.content h2 {
	padding-bottom: .5em;
}

h1.mobile {
	display:block;
	background-color:white;
	width:95%;
	font-size:1.7em;
	padding-right:0;
	margin-left:5%;
	margin-top:5px;
	margin-bottom:-5px;
}

	h1.mobile a{
		margin-left:0px;
	}

	nav {
		padding:13px 0px 10px 5%;
		float:left;
font-size:19px;
	}

nav ul li {
   padding:0px 0px 5px 15px;
}


.left-img, .left-img img {
	width:100%;
	margin-bottom:0px;
}

	.full-image .half-right,.full-image .half-left  {
		width:100%;
		float:left;
		margin-top:0px;
		margin-bottom:0px;
		padding-top:0px;
		padding-bottom:15px;
	}
	

.side-col-top, .side-col {
	width:100%;
	clear:both;
	margin-left:5%;
	margin-top:2.5%;
	margin-bottom:20px;
	margin-right:0%;
}

.side-col-top p, .side-col p {
	padding-left:5%;
}

div.pull-out {
	width:95%;
	padding: 10px 0px 10px 20px;
	margin-left:0%;
}

	.pull-quote {
		font-weight:300;
		font-size:1.20em;
		margin-bottom:0px;
					font-style:italic;
					margin: 0 auto;
	}

.videoWrapper {
	margin-bottom:5.5%;
}

nav {
	clear:none;
}

video {
	height:400px;

}

h1 {
	display:none;
}

h2 {
	font-size:1em;
	line-height:1.45em;
}

h4 {
	font-size:1.2em;
	line-height:1.45em;
}

.footer-col {
	width:100%;
}

footer {
	background-color:white;
	height:auto;
	min-height: 505px;
	clear:all;
	width:100%;
	bottom:0;
	float:left;
	padding-bottom:50px;
	padding-top:50px;
		}

footer h2 {
		font-size:1.3em;
		z-index:8743;
		font-family: "Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif;
		font-weight:bold;
		margin-left:5%;
		margin-top:4%;
	}


		h2 > i.fa {
			font-size:0.45em;
			float:none;
			margin-left:15px;
			display:inline-block;
			vertical-align:middle;
		}
	
	footer .words {
				width:100%;
				margin-top:10px;
			}

	.words.aboutme {
				width:70%;
				float:left;
				margin-left:5%;
				margin-top:10px;
				margin-bottom:60px;
			}

.image {
    width:100%;
    }